@import "tailwindcss";

body {
    font-family: "Climate Crisis", sans-serif;
}

h1 {
    font-weight: normal;
}

h2, h3, h4 {
    font-weight: 400;
    font-size: large;
}

a {
    font-weight: 200;
}

p {
    font-weight: 500;
}

.skills, .contact{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.pagination button {
    padding: 10px 20px;
    cursor: pointer;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
